.title-sec{
    text-align: center;
    font-weight: bold;
}
.bg-1{
    position: relative;
    background-image: url('../images/a1.jpg');
    height: 150px;
    background-position: center;
    background-size: cover;
}
.bg-2{
    position: relative;
    background-image: url('../images/a1.jpg');
    height: 150px;
    background-position: center;
    background-size: cover;
}
.bg-3{
    position: relative;
    background-image: url('../images/a1.jpg');
    height: 150px;
    background-position: center;
    background-size: cover;
}
.bg-4{
    position: relative;
    background-image: url('../images/a1.jpg');
    height: 150px;
    background-position: center;
    background-size: cover;
}